# This is the default configuration file for CGI:IRC 0.5
# See http://cgiirc.org/docs/config.php for help editing it.

# If you want to allow the use of multiple servers or enable more 
# advanced  options please copy cgiirc.config.full over this file,
# then edit that.

# Set the server(s) that access is allowed to, to allow more than one entry
# seperate the servers with commas.
#default_server = irc.blitzed.org
default_port = 6667
# Channel(s) to allow access to, a comma seperated list
default_channel = #cgiirc
# The default name (shown in /whois) of a user
default_name = CGI:IRC User
# The default nickname, any ? is replaced with a random number
default_nick=CGI???

# The path to images for the browser (a URL!)
# In script aliased directories (cgi-bin) the default will *not* work,
# you need to move the directory elsewhere and change this to something
# like /images.
image_path = images

# You can change the location of the scripts if needed.
# This doesn't usually need to be changed but they *must* be set.
script_nph = nph-irc.cgi
script_form = client-perl.cgi
script_login = irc.cgi

