# This is the default configuration file for CGI:IRC 0.5

# If you want to allow the use of multiple servers please copy
# cgiirc.config.full over this file, then edit that.

# Set the server(s) that access is allowed to, to allow more than one entry
# seperate the servers with commas.
default_server = sirius
default_port = 6667
# Channel(s) to allow access to, a comma seperated list
default_channel = #cgiirc
# The default name (shown in /whois) of a user
default_name = CGI:IRC User
# The default nickname, any ? is replaced with a random number
default_nick=CGI???

# You can change the location of the scripts if needed.
# This doesn't usually need to be changed
script_nph = nph-irc.cgi
script_form = client.cgi
script_login = irc.cgi

