default_server = localhost
default_port = 6667
default_channel = #cgiirc
default_name = CGI:IRC User
default_nick=CGI???
default_user=cgiirc

script_nph = nph-irc.cgi
script_form = client.cgi
script_login = irc.cgi

encoded_ip = 1
allow_non_default = 0

#access_channel = 
#access_server =
#access_command =

socket_prefix=/tmp/cgiirc-

#login basic = Nickname Channel
#login advanced = Nickname Channel Server Password

format_dir=formats
format=default
interface=mozilla
