"\;-?\)"        = wink
"\;-?D"         = grin
":\'\(?"        = cry
":-?/(?!\S)"    = notsure
":-?[xX]"       = confused
":-?\]"         = embarassed
":-?\*"         = love
":-?[pP]"       = tongue
":-?\)"         = happy
"\:-?D"         = cheesy
":-?\("         = unhappy
":-[oO]"        = surprised
"8-?\)"         = cool
":-?\|"         = flat
":\'\)\)?"      = happycry
"\004\&gt;\004:-?/" = hmmm
"\004\&gt;\004:-?\(" = angry
":-?\*\*"       = kiss
":-z"           = sleep
":-\."          = sorry
"8-@"           = what
